body {
	background-color:  #0F1010;
}

h1{
	color: #FFFFF0;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

p{
	color: #FFFFF0;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
}

#rectangle{
	margin:auto;
    width:80%;
    height:80%;
		align-self: center;
    background-color:#0C0C0C;
}
